language: elixir
matrix:
  include:
    - otp_release: 18.3
      elixir: 1.3.2
    - otp_release: 19.2
      elixir: 1.3.2
    - otp_release: 18.3
      elixir: 1.4.5
    - otp_release: 19.2
      elixir: 1.4.5
    - otp_release: 20.0
      elixir: 1.5.1
sudo: false
before_script:
  - mix deps.get --only test
script:
  - mix test
